*
{
        padding:0;
        margin :0px;
}

body
{
       color:red;
       background-color: pink;
}
.header
{
       margin:0px;
       color: black;
}
.leftdiv
 {
 float: left;
  color: red;
   width: 30%;
   height :842px;
   /*background-color: 009900;  */
 }
 .rightdiv
 {
  float: left;
  color: black;
  width: 70%;
  height :842px;
 /* background-color:gray  */
 }
 .main
 {
        height:842px;
        width: 700px;
        background-color: white;
        margin : 5px;
 }
